/* vloeiend scrollen zie: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp  */
body {
    padding: 0;
    margin: 0;
    background-color: thistle;
    font-size: 26px;
}

.header {
    padding: 2em;
    margin: 0;
    text-align: center;
    font-size: 30px;
    collor: whitesmoke;
    background-image: url(../afb/Kerstmenu.jpeg)
    background-position: center;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
.richtpunt {
    position: relative;
    top: -80px;
    display: block;
    visibility: hidden;
}
section {
    background-color: white;
    padding-bottom: 20px;
    margin-bottom: 20px; 
}
section header {
    background-size: cover;
    background-position: center;
    padding: 30px;
}
h1, h2, h4 {
    color: white;
    text-align: center; 
    text-shadow: 0 0 13px darkslategrey; 
    letter-spacing: 7px;
}

h4 {
    font-variant: small-caps;
}
h6 {
    margin-bottom: -25px;
    font-size: 20px;
}

section ol {
    margin: 20px 60px;
}
section p, section h6 {
    padding: 0px 90px
}

/* de footer  */

footer {
    background-color: darkslategrey;
    color: floralwhite;
    text-align: center;
    padding: 20px;
}
footer a {
    color: floralwhite;
}

/* de validatie-icons  */
.validatie img {
    height: 1em;
    width: auto;
    border: 0;
    margin: 0 .3em;
}