/* vloeiend scrollen zie: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp  */
html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: thistle;
    font-size: 26px;
}

.header {
    padding: 2em;
    margin: 0;
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
    background-image: url(../afb/Kerstmenu.jpeg)
    
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
.richtpunt {
    position: relative;
    top: -80px;
    display: block;
    visibility: hidden;
}
section {
    background-color: white;
    padding-bottom: 20px;
    margin-bottom: 20px; 
}
section header {
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#voor header {
    background-image: url(../afb/bietentartaar.jpg);
}
#hoofd header {
    background-image: url(../afb/pastinaak.jpg);
}
#bij header {
    background-image: url(../afb/stoofpeertjes.jpg);
}
#na header {
    background-image: url(../afb/tiramisu.jpg);
}

h1, h2, h4 {
    color: white;
    text-align: center; 
    text-shadow: 0 0 13px darkslategrey; 
    letter-spacing: 7px;
}

h4 {
    font-variant: small-caps;
}
h6 {
    margin-bottom: -25px;
    font-size: 20px;
}

section ol {
    margin: 20px 60px;
}
section p, section h6 {
    padding: 0px 90px
}

/* de footer  */

footer {
    background-color: darkslategrey;
    color: floralwhite;
    text-align: center;
    padding: 20px;
}
footer a {
    color: floralwhite;
}

/* de validatie-icons  */
.validatie img {
    height: 1em;
    width: auto;
    border: 0;
    margin: 0 .3em;
}
nav {
    background-color: rgb(197, 62, 62);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}
nav li {
    flex: 1 0 auto ;
}
nav li + li {
    border-left: solid 2px wheat;
}
nav a {
   color: white; 
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
}
nav a:hover {
    background-color: rgb(71, 126, 189);
    color: wheat;
}

